<nav role="navigation" aria-label="Social media menu" class="social">
  <div class="social-prompt">More From Star Wars:</div>
  <ul>
    <li class="facebook social-icon">
      <a
        class="link aw-independent link_footer"
        href="https://www.facebook.com/StarWars"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="description">Facebook</span>
      </a>
    </li>
    <li class="instagram social-icon">
      <a
        class="link aw-independent link_footer"
        href="https://www.instagram.com/starwars/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="description">Instagram</span>
      </a>
    </li>
    <li class="twitter social-icon">
      <a
        class="link aw-independent link_footer"
        href="https://twitter.com/starwars"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="description">Twitter</span>
      </a>
    </li>
    <li class="youtube social-icon">
      <a
        class="link aw-independent link_footer"
        href="https://www.youtube.com/user/starwars"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="description">Youtube</span>
      </a>
    </li>
    <li class="kids social-icon">
      <a
        class="link aw-independent link_footer"
        href="https://starwarskids.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="description">SWKids</span>
      </a>
    </li>
  </ul>
</nav>
